/* DataTable.module.css */



.tableContainer{
  margin: 200px;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: #EFEEEB;
  padding: 20px;
  color: white;
  width: 1200px;
  height: 500px;

}

.tableTitle{
  
  /* border-width: 2px;
  border-style: solid; */
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
}

.table{
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0;
}

.tableHead{
  text-align: left;
 
}

.header{
  text-align: left;
  color: #606060;
  
}

.tableHeadRow{
  border-bottom: 1px solid #EFEFEF;
  
}

.tableBody{
  
}

.tableBodyRow{
  
}
