/*./styles/modular/ProductDetail.module.css */


.app{
  width: 100%;
  box-shadow: 0 0 5px #ccc;
}
.details{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
}
.big-img{
  margin-top: 50px;
  margin-bottom: 20px;
  width: 400px;
  height:400px;
  overflow: hidden;
}
.big-img img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
}

.details .box{
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}

.box .row{
  font-weight: bolder;
  font-size: x-large;
}
.box{
  position: relative;
}
.box .row h2{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: large;
  margin-top: 30px;
}
.box .row span{
  color: white;
  font-size: xx-large;
  font-weight: 800;;
}


.box p{

  line-height: 1.5;
}

.thumb{
  margin-bottom: 50px;
  max-width: fit-content;
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
}
.thumb img{
  width: 90px;
  height: 100%;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.7;
  border-radius: 5px;
}
.thumb img.active{
  opacity: 1;
  border: 1px solid lightseagreen;
}
.box .cart{
  height: 62px;
  width: 305px;
  border-radius: 5px;
  background: #D0532B;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 120px;
}

.cart-logo{
  max-width: fit-content;
  margin-left: 25px;
  margin-bottom: -15px;
}

.delivery{
  transform: translateY(140%);
  display: flex;
 
  
}

.delivery-time{
  color: #D0532B;
  font-weight: 500;
  margin-top: 20px;
  transform: translateX(145%);
}
.delivery-img{
  height: fit-content;
  width: fit-content;
  margin-right: 5px;
}

.delivery-text{
  margin-left: 5px;
  font-weight: 500;
}

.terms{
  transform: translateY(240%);
  
  

}


  .vector-img{
    height: fit-content;
    width: fit-content;
    margin-right: 5px;
  }

  
.vector_text:link {
  color: #D0532B;
  text-decoration: none;
}

.vector_text:visited {
  color: #D0532B;
  text-decoration: none;
}

.vector_text:hover {
  color: white;
  text-decoration: none;
}

.vector_text:active {
  color: white;
  text-decoration: none;
}


